html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#bg-img {
  background-image: url('images/welcome-screen.png'); 
  height: 100vh;
}

#change-page-btn {
  position: relative;
  top: 20%;
}

#start-btn {
  width: 50vh;
  height: 20vh;
}

#experiment-1-layout-columns {
  justify-content: space-between;
  border: 1px solid red;
}

#left-part {
  padding: 0;
  margin: 0;
  border: 1px solid violet;
}

#middle-part {
  border: 1px solid green;
}

#right-part {
  border: 1px solid orange;
}

.btn-group-vertical {
  max-width: 10vh;
}