html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.media-prompt{
  display: none;
}

#experiment-layout-columns {
  justify-content: space-between;
}

#left-part-java {
  padding: 0;
  margin: 0;
}

#button-container {
  padding-top: 50%;
}

#experiment-icon-btn {
  display: flex;
  height: 12vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sketch-holder {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-height: 600px), (max-aspect-ratio: 19/10){
  .container-fluid{
    display: none;
  }
  .media-prompt{
    display: block;
  }
}