#experiment-1-layout-columns {
  justify-content: space-between;
}

#left-part-java {
  padding: 0;
  margin: 0;
}

#right-part {
  border: 1px solid orange;
}

.btn-group-vertical {
  max-width: 10vh;
}

#button-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

#sketch-holder {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#ground {
  position: fixed;
  bottom: 0;
  border: 1px solid red;
  background-color: #A65F33;
  width: 100%;
  height: 3vh;
}