#experiment-1-layout-columns {
  justify-content: space-between;
  border: 1px solid red;
}

#left-part {
  padding: 0;
  margin: 0;
  border: 1px solid violet;
}

#middle-part {
  border: 1px solid green;
}

#right-part {
  border: 1px solid orange;
}

.btn-group-vertical {
  max-width: 10vh;
}

#left-panel-bg {
  background-image: url('../images/left-panel-background.png');
  height: 30vh;
}

#button-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

#left-panel-text {
  padding-top: 2%;
  padding-left: 4%;
  font-size: 1.5vw;
}

#sketch-holder {
  padding-top: 0%;
  padding-right: 30%;
  overflow: hidden;
}


